// 基础颜色
$normal-color: #3366ff;
$hover-color: #d2e1ff;
$click-color: #0e42d2;
$especial-color: #6aa1ff;

// 边框颜色
$normal-border-color: #dadde6;
$split-color: #dee3ed;

// 填充颜色
$active-full-color: #3366ff;
$light-full-color: #f2f3f5;
$hover-full-color: #e5e6eb;
$normal-full-color: #f2f3f5;
$disabled-full-color: #f7f8fa;

// 字体颜色
$emphasize-font-color: #14161a;
$normal-font-color: #333333;
$secondary-font-color: #666666;
$unactive-font-color: #999999;
$white-font-color: #ffffff;

// 提示颜色
$success-color: #1f9940;
$warning-color: #ff7d00;
$danger-color: #e65050;
$off-color: #999999;
